<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>KEY</string>
	<key>BUNDLE_ID</key>
	<string>org.catrobat.pocketcode</string>
	<key>CLIENT_ID</key>
	<string>111053102425-sj5ic1lgtmr7teac4n3bu86usnduff96.apps.googleusercontent.com</string>
	<key>DATABASE_URL</key>
	<string>https://pocket-code-for-ios.firebaseio.com</string>
	<key>GCM_SENDER_ID</key>
	<string>111053102425</string>
	<key>GOOGLE_APP_ID</key>
	<string>1:2:ios:3</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>PROJECT_ID</key>
	<string>catty-dd2fd</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.111053102425-sj5ic1lgtmr7teac4n3bu86usnduff96</string>
	<key>STORAGE_BUCKET</key>
	<string>catty-dd2fd.appspot.com</string>
</dict>
</plist>
