[submodule "src/ObjectiveGit"]
	path = src/ObjectiveGit
	url = git@github.com:libgit2/objective-git.git
[submodule "objective-git"]
	path = objective-git
	url = git@github.com:libgit2/objective-git.git
