
*.xcbkptlist

*.xcuserstate

.DS_Store

Catty.xcodeproj/project.xcworkspace/xcuserdata/christofstromberger.xcuserdatad/UserInterfaceState.xcuserstate

Catty.xcodeproj/xcuserdata/christofstromberger.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

Mockup/*

sparrow/src/Sparrow.xcodeproj/xcuserdata/dominik.xcuserdatad/xcschemes/xcschememanagement.plist

sparrow/src/Sparrow.xcodeproj/xcuserdata/dominik.xcuserdatad/xcschemes/Sparrow.xcscheme

*.xcuserdatad*
