<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>wikipedia.org</string>
	<string>official-joke-api.appspot.com</string>
	<string>jservice.io</string>
	<string>geocode.xyz</string>
	<string>fourtonfish.com/hellosalut</string>
	<string>catrob.at</string>
	<string>catrobat.org</string>
	<string>github.net</string>
	<string>tugraz.at</string>
	<string>edu</string>
	<string>gov</string>
	<string>googleapis.com</string>
	<string>wikidata.org</string>
	<string>paralleldots.com</string>
	<string>microsoft.com</string>
	<string>virtualearth.net</string>
	<string>skyserver.sdss.org</string>
	<string>britishmuseum.org</string>
	<string>image.tmdb.org</string>
	<string>imdb.com</string>
	<string>themoviedb.org</string>
	<string>pixabay.com</string>
	<string>twitter.com</string>
	<string>airnowapi.org</string>
	<string>corgis-edu.github.io</string>
	<string>iextrading.com</string>
	<string>ac.uk</string>
	<string>ac.jp</string>
	<string>ac.at</string>
	<string>api.cognitive.microsofttranslator.com</string>
	<string>openweathermap.org</string>
	<string>oxforddictionaries.com</string>
	<string>spotify.com</string>
	<string>traccar.org</string>
	<string>nytimes.com</string>
	<string>rottentomatoes.com</string>
	<string>instagram.com</string>
	<string>xkcd.com</string>
	<string>passwordutility.net</string>
	<string>omdbapi.com</string>
	<string>apitore.com</string>
	<string>1forge.com/forex-quotes/quotes</string>
	<string>wordnik.com</string>
	<string>datumbox.com</string>
	<string>schooldigger.com</string>
	<string>gettyimages.com</string>
	<string>citycontext.com</string>
	<string>icons8.com</string>
	<string>opencagedata.com</string>
	<string>gisgraphy.com</string>
	<string>botify.com</string>
	<string>wavecell.com</string>
	<string>thenounproject.com</string>
	<string>musixmatch.com</string>
	<string>fantasydata.net</string>
	<string>skynewz-api-fortnite.herokuapp.com</string>
	<string>wordassociations.net</string>
	<string>languagetool.org</string>
	<string>quotes.rest</string>
	<string>digitallinguistics.io</string>
	<string>text2data.org</string>
	<string>carbondoomsday.com</string>
	<string>jokes.one</string>
	<string>cat-fact.herokuapp.com</string>
	<string>thecatapi.com</string>
	<string>dog.ceo</string>
	<string>aws.random.cat</string>
	<string>iqair.com</string>
	<string>openaq.org</string>
	<string>magicthegathering.io</string>
	<string>opentdb.com</string>
	<string>pokeapi.co</string>
	<string>scryfall.com</string>
	<string>freegeoip.app</string>
	<string>geonames.org</string>
	<string>onwater.io</string>
	<string>restcountries.eu</string>
	<string>sentim-api.herokuapp.com</string>
	<string>musicbrainz.org</string>
	<string>searchly.asuarez.dev</string>
	<string>api.adviceslip.com</string>
	<string>pprathameshmore.github.io/QuoteGarden</string>
	<string>octopus-intelligence.org</string>
	<string>flickr.com</string>
	<string>pexels.com</string>
	<string>placekitten.com</string>
	<string>worldometers.info</string>
	<string>launchlibrary.net</string>
	<string>apodapi.herokuapp.com</string>
	<string>newton.now.sh</string>
	<string>open-notify.org</string>
	<string>api.spacexdata.com</string>
	<string>sunrise-sunset.org</string>
	<string>worldbank.org</string>
	<string>pinterest.com</string>
	<string>vk.com</string>
	<string>ibm.com</string>
	<string>metaweather.com</string>
	<string>7timer.info</string>
	<string>iucnredlist.org</string>
	<string>movebank.org</string>
	<string>cooperhewitt.org</string>
	<string>harvardartmuseums.org</string>
	<string>data.bl.uk</string>
	<string>goodreads.com</string>
	<string>openlibrary.org</string>
	<string>holidayapi.com</string>
	<string>api.abalin.net</string>
	<string>lingua-robot.p.rapidapi.com</string>
	<string>wordsapiv1.p.mashape.com</string>
	<string>api.wordnik.com</string>
	<string>owlbot.info</string>
	<string>merriam-webster.com</string>
	<string>linguarobot.io</string>
	<string>openfoodfacts.org</string>
	<string>recipepuppy.com</string>
	<string>vector.hereapi.com</string>
	<string>giphy.com</string>
	<string>picsum.photos</string>
	<string>arcsecond.io</string>
	<string>gbif.org</string>
	<string>idigbio.org</string>
	<string>discord.com</string>
	<string>reddit.com</string>
</array>
</plist>
