<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SWLQuickFormat</key>
	<string>LevelMessage</string>
	<key>SWLLocation</key>
	<string>console</string>
	<key>SWLLevel</key>
	<string>debug</string>
	<key>SWLLocationFilename</key>
	<string>Catty.log</string>
	<key>CBPlayerSceneLogger.Release</key>
	<dict>
		<key>SWLLevel</key>
		<string>warn</string>
		<key>SWLLocation</key>
		<string>file</string>
		<key>SWLLocationFilename</key>
		<string>PlayerEngine-Scene.Release.log</string>
		<key>SWLQuickFormat</key>
		<string>NameMessage</string>
	</dict>
	<key>CBPlayerSchedulerLogger.Release</key>
	<dict>
		<key>SWLLevel</key>
		<string>warn</string>
		<key>SWLLocation</key>
		<string>file</string>
		<key>SWLLocationFilename</key>
		<string>PlayerEngine-Scheduler.Release.log</string>
		<key>SWLQuickFormat</key>
		<string>NameMessage</string>
	</dict>
	<key>CBPlayerFrontendLogger.Release</key>
	<dict>
		<key>SWLLevel</key>
		<string>warn</string>
		<key>SWLLocation</key>
		<string>file</string>
		<key>SWLLocationFilename</key>
		<string>PlayerEngine-Frontend.Release.log</string>
		<key>SWLQuickFormat</key>
		<string>DateNameMessage</string>
	</dict>
	<key>CBPlayerBackendLogger.Release</key>
	<dict>
		<key>SWLLevel</key>
		<string>warn</string>
		<key>SWLLocation</key>
		<string>file</string>
		<key>SWLLocationFilename</key>
		<string>PlayerEngine-Backend.Release.log</string>
		<key>SWLQuickFormat</key>
		<string>DateNameMessage</string>
	</dict>
	<key>CBPlayerBroadcastHandlerLogger.Release</key>
	<dict>
		<key>SWLLevel</key>
		<string>warn</string>
		<key>SWLLocation</key>
		<string>file</string>
		<key>SWLLocationFilename</key>
		<string>PlayerEngine-BroadcastHandler.Release.log</string>
		<key>SWLQuickFormat</key>
		<string>DateNameMessage</string>
	</dict>
	<key>CBPlayerSceneLogger.Debug</key>
	<dict>
		<key>SWLLevel</key>
		<string>warn</string>
		<key>SWLLocation</key>
		<string>console</string>
		<key>SWLLocationFilename</key>
		<string>PlayerEngine-Scene.Debug.log</string>
		<key>SWLQuickFormat</key>
		<string>NameMessage</string>
	</dict>
	<key>CBPlayerSchedulerLogger.Debug</key>
	<dict>
		<key>SWLLevel</key>
		<string>info</string>
		<key>SWLLocation</key>
		<string>console</string>
		<key>SWLLocationFilename</key>
		<string>PlayerEngine-Scheduler.Debug.log</string>
		<key>SWLQuickFormat</key>
		<string>NameMessage</string>
	</dict>
	<key>CBPlayerFrontendLogger.Debug</key>
	<dict>
		<key>SWLLevel</key>
		<string>debug</string>
		<key>SWLLocation</key>
		<string>console</string>
		<key>SWLLocationFilename</key>
		<string>PlayerEngine-Frontend.Debug.log</string>
		<key>SWLQuickFormat</key>
		<string>DateNameMessage</string>
	</dict>
	<key>CBPlayerBackendLogger.Debug</key>
	<dict>
		<key>SWLLevel</key>
		<string>warn</string>
		<key>SWLLocation</key>
		<string>console</string>
		<key>SWLLocationFilename</key>
		<string>PlayerEngine-Backend.Debug.log</string>
		<key>SWLQuickFormat</key>
		<string>DateNameMessage</string>
	</dict>
	<key>CBPlayerBroadcastHandlerLogger.Debug</key>
	<dict>
		<key>SWLLevel</key>
		<string>warn</string>
		<key>SWLLocation</key>
		<string>console</string>
		<key>SWLLocationFilename</key>
		<string>PlayerEngine-BroadcastHandler.Debug.log</string>
		<key>SWLQuickFormat</key>
		<string>DateNameMessage</string>
	</dict>
	<key>CBPlayerSceneLogger.Test</key>
	<dict>
		<key>SWLLevel</key>
		<string>debug</string>
		<key>SWLLocation</key>
		<string>console file</string>
		<key>SWLLocationFilename</key>
		<string>PlayerEngine-Scene.Test.log</string>
		<key>SWLQuickFormat</key>
		<string>DateNameMessage</string>
	</dict>
	<key>CBPlayerSchedulerLogger.Test</key>
	<dict>
		<key>SWLLevel</key>
		<string>debug</string>
		<key>SWLLocation</key>
		<string>console file</string>
		<key>SWLLocationFilename</key>
		<string>PlayerEngine-Scheduler.Test.log</string>
		<key>SWLQuickFormat</key>
		<string>DateNameMessage</string>
	</dict>
	<key>CBPlayerFrontendLogger.Test</key>
	<dict>
		<key>SWLLevel</key>
		<string>debug</string>
		<key>SWLLocation</key>
		<string>console file</string>
		<key>SWLLocationFilename</key>
		<string>PlayerEngine-Frontend.Test.log</string>
		<key>SWLQuickFormat</key>
		<string>DateNameMessage</string>
	</dict>
	<key>CBPlayerBackendLogger.Test</key>
	<dict>
		<key>SWLLevel</key>
		<string>debug</string>
		<key>SWLLocation</key>
		<string>console file</string>
		<key>SWLLocationFilename</key>
		<string>PlayerEngine-Backend.Test.log</string>
		<key>SWLQuickFormat</key>
		<string>DateNameMessage</string>
	</dict>
	<key>CBPlayerBroadcastHandlerLogger.Test</key>
	<dict>
		<key>SWLLevel</key>
		<string>debug</string>
		<key>SWLLocation</key>
		<string>console file</string>
		<key>SWLLocationFilename</key>
		<string>PlayerEngine-BroadcastHandler.Test.log</string>
		<key>SWLQuickFormat</key>
		<string>DateNameMessage</string>
	</dict>
</dict>
</plist>
