<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SWLQuickFormat</key>
	<string>LevelMessage</string>
	<key>SWLLocation</key>
	<string>console</string>
	<key>SWLLevel</key>
	<string>info</string>
	<key>SWLLocationFilename</key>
	<string>Catty.log</string>
	<key>CBSceneLogger.Release</key>
	<dict>
		<key>SWLLevel</key>
		<string>warn</string>
		<key>SWLLocation</key>
		<string>file</string>
		<key>SWLLocationFilename</key>
		<string>PlayerEngine-Scene.Release.log</string>
		<key>SWLQuickFormat</key>
		<string>NameMessage</string>
	</dict>
	<key>CBSchedulerLogger.Release</key>
	<dict>
		<key>SWLLevel</key>
		<string>warn</string>
		<key>SWLLocation</key>
		<string>file</string>
		<key>SWLLocationFilename</key>
		<string>PlayerEngine-Scheduler.Release.log</string>
		<key>SWLQuickFormat</key>
		<string>NameMessage</string>
	</dict>
	<key>CBFrontendLogger.Release</key>
	<dict>
		<key>SWLLevel</key>
		<string>warn</string>
		<key>SWLLocation</key>
		<string>file</string>
		<key>SWLLocationFilename</key>
		<string>PlayerEngine-Frontend.Release.log</string>
		<key>SWLQuickFormat</key>
		<string>DateNameMessage</string>
	</dict>
	<key>CBBackendLogger.Release</key>
	<dict>
		<key>SWLLevel</key>
		<string>warn</string>
		<key>SWLLocation</key>
		<string>file</string>
		<key>SWLLocationFilename</key>
		<string>PlayerEngine-Backend.Release.log</string>
		<key>SWLQuickFormat</key>
		<string>DateNameMessage</string>
	</dict>
	<key>CBBroadcastHandlerLogger.Release</key>
	<dict>
		<key>SWLLevel</key>
		<string>warn</string>
		<key>SWLLocation</key>
		<string>file</string>
		<key>SWLLocationFilename</key>
		<string>PlayerEngine-BroadcastHandler.Release.log</string>
		<key>SWLQuickFormat</key>
		<string>DateNameMessage</string>
	</dict>
	<key>CBSceneLogger.Debug</key>
	<dict>
		<key>SWLLevel</key>
		<string>warn</string>
		<key>SWLLocation</key>
		<string>console</string>
		<key>SWLLocationFilename</key>
		<string>PlayerEngine-Scene.Debug.log</string>
		<key>SWLQuickFormat</key>
		<string>NameMessage</string>
	</dict>
	<key>CBSchedulerLogger.Debug</key>
	<dict>
		<key>SWLLevel</key>
		<string>info</string>
		<key>SWLLocation</key>
		<string>console</string>
		<key>SWLLocationFilename</key>
		<string>PlayerEngine-Scheduler.Debug.log</string>
		<key>SWLQuickFormat</key>
		<string>NameMessage</string>
	</dict>
	<key>CBFrontendLogger.Debug</key>
	<dict>
		<key>SWLLevel</key>
		<string>debug</string>
		<key>SWLLocation</key>
		<string>console</string>
		<key>SWLLocationFilename</key>
		<string>PlayerEngine-Frontend.Debug.log</string>
		<key>SWLQuickFormat</key>
		<string>DateNameMessage</string>
	</dict>
	<key>CBBackendLogger.Debug</key>
	<dict>
		<key>SWLLevel</key>
		<string>warn</string>
		<key>SWLLocation</key>
		<string>console</string>
		<key>SWLLocationFilename</key>
		<string>PlayerEngine-Backend.Debug.log</string>
		<key>SWLQuickFormat</key>
		<string>DateNameMessage</string>
	</dict>
	<key>CBBroadcastHandlerLogger.Debug</key>
	<dict>
		<key>SWLLevel</key>
		<string>warn</string>
		<key>SWLLocation</key>
		<string>console</string>
		<key>SWLLocationFilename</key>
		<string>PlayerEngine-BroadcastHandler.Debug.log</string>
		<key>SWLQuickFormat</key>
		<string>DateNameMessage</string>
	</dict>
	<key>CBSceneLogger.Test</key>
	<dict>
		<key>SWLLevel</key>
		<string>debug</string>
		<key>SWLLocation</key>
		<string>console file</string>
		<key>SWLLocationFilename</key>
		<string>PlayerEngine-Scene.Test.log</string>
		<key>SWLQuickFormat</key>
		<string>DateNameMessage</string>
	</dict>
	<key>CBSchedulerLogger.Test</key>
	<dict>
		<key>SWLLevel</key>
		<string>debug</string>
		<key>SWLLocation</key>
		<string>console file</string>
		<key>SWLLocationFilename</key>
		<string>PlayerEngine-Scheduler.Test.log</string>
		<key>SWLQuickFormat</key>
		<string>DateNameMessage</string>
	</dict>
	<key>CBFrontendLogger.Test</key>
	<dict>
		<key>SWLLevel</key>
		<string>debug</string>
		<key>SWLLocation</key>
		<string>console file</string>
		<key>SWLLocationFilename</key>
		<string>PlayerEngine-Frontend.Test.log</string>
		<key>SWLQuickFormat</key>
		<string>DateNameMessage</string>
	</dict>
	<key>CBBackendLogger.Test</key>
	<dict>
		<key>SWLLevel</key>
		<string>debug</string>
		<key>SWLLocation</key>
		<string>console file</string>
		<key>SWLLocationFilename</key>
		<string>PlayerEngine-Backend.Test.log</string>
		<key>SWLQuickFormat</key>
		<string>DateNameMessage</string>
	</dict>
	<key>CBBroadcastHandlerLogger.Test</key>
	<dict>
		<key>SWLLevel</key>
		<string>debug</string>
		<key>SWLLocation</key>
		<string>console file</string>
		<key>SWLLocationFilename</key>
		<string>PlayerEngine-BroadcastHandler.Test.log</string>
		<key>SWLQuickFormat</key>
		<string>DateNameMessage</string>
	</dict>
</dict>
</plist>
