<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Account</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Username</string>
			<key>Key</key>
			<string>user</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>IsSecure</key>
			<true/>
			<key>Title</key>
			<string>Password</string>
			<key>Key</key>
			<string>password</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Preferences</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Lock Iphone enabled</string>
			<key>Key</key>
			<string>lockiphone</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Pocket Code for iOS</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Version</string>
			<key>DefaultValue</key>
			<string>1.0</string>
			<key>Key</key>
			<string>version</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>File</key>
			<string>acknowledge</string>
			<key>Title</key>
			<string>Acknowledgements</string>
			<key>Key</key>
			<string>ac</string>
			<key>DefaultValue</key>
			<string></string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
