github "ArtSabintsev/Siren"
github "SecondRenaissance/Bohr"
github "Marxon13/M13ProgressSuite" ~> 1.2.9
github "TTTAttributedLabel/TTTAttributedLabel" ~> 2.0.0
github "maxep/MXSegmentedPager" ~> 3.3.0
github "onevcat/Kingfisher" ~> 4.0
github "venmo/DVR"
github "audiokit/audiokit" "v4.9.4"
github "ZipArchive/ZipArchive"
github "Quick/Quick"
github "Quick/Nimble"
github "drmohundro/SWXMLHash" ~> 5.0
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAnalyticsBinary.json"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseCrashlyticsBinary.json"
